
<ion-content [fullscreen]="true">
  <script src="https://cdn.tiny.cloud/1/7wz1h513tb8rw57mg45vketrer38jgxpnujil1awxmifdh0m/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
		<ion-refresher-content pullingIcon="chevron-down-circle-outline" refreshingSpinner="circles">
		</ion-refresher-content>
	</ion-refresher>
  <ion-header class="ion-no-border" >
		<ion-toolbar>
			<ion-buttons slot="start">
        <ion-icon name="log-out-outline" size="large" (click)="back()"></ion-icon>
  
      </ion-buttons>
		</ion-toolbar>

		

	</ion-header>
  <div class="card">
    <div class="card-content">
    <div class="bottom">
      <h2>Welcome, {{username}} APMC</h2>
    </div>
    </div>
  </div>
  <div class="main">

  <div>
    <p style="color: black;font-size: 21px;">Add Details</p>

  </div>
  <div class="formBody">
    <ion-item>
      <ion-label>Market</ion-label>
      <ion-input type="text" placeholder="Market" [(ngModel)]="rate.market"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Commodity</ion-label>
      <ion-input type="text" placeholder="Commodity" [(ngModel)]="rate.commodity"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Price</ion-label>
      <ion-input type="text" placeholder="Price" [(ngModel)]="rate.price"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Date</ion-label>
      <ion-input type="date" placeholder="Date" [(ngModel)]="rate.date"></ion-input>
    </ion-item>
  
  </div>
  <div>
    <ion-button (click)="submitrate()">Submit</ion-button>
  </div>
</div>
</ion-content>
