.datacards {
  box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.2);
  display: inline-block;
  margin: 10px;
  text-align: center;
  font-family: arial;
  overflow: scroll;

}
.datacards img {
  object-fit: cover;
  width: 150px;
  height: 150px;
}
.datacards h4 {
  margin-top: 8px;
  padding: 5px;
  color: black;
}
