   <ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content pullingIcon="chevron-down-circle-outline" refreshingSpinner="circles">
      </ion-refresher-content>
    </ion-refresher>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button>
          <ion-icon name="language-outline" size="large"></ion-icon>
          <ion-select interface="popover" [(ngModel)]='language' (ionChange)='languageChange()'>
            <ion-select-option value='mr'>मराठी</ion-select-option>
            <ion-select-option value='en'>English</ion-select-option>
          </ion-select>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-text-center">
          <h1 style="font-size: 30px; font-weight: bold; margin-top: 20px;">The Farmer's App</h1>
          <p style="font-weight: bold; margin-top: 10px;">{{'login.info1' | translate}}<br>{{'login.info2' | translate}}</p>
          <p style="font-weight: 500; margin-top: 10px;">{{'login.trans' | translate}}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="mainimg">
            <img src="../../assets/7954539.jpg" style="max-width: 100%; height: auto;">
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button expand="block" (click)="doLogin()" style="box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 1px; margin-top: 20px;">
            <ion-icon name="logo-google" slot="start"></ion-icon>
            {{'login.login' | translate}}
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button fill="outline" size="large" color="primary" (click)="loginapmc()" style="width: 100%; margin-top: 400px;">
            Login APMC
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button fill="outline" size="large" color="primary" (click)="loginadmin()" style="width: 100%; margin-top: 10px;">
            Login Admin
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>

  
  