.card {
    max-width: 500px;
    width: 100%;
    height: 250px;
    position: relative;
    padding: 3rem 2rem;
    color: white;
    justify-self: center;
  
    .card-content {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: space-between;
      justify-content: space-between;
      text-align: center;
      .bottom h2 {
        font-size: 3rem;
        color: #000000;
        margin-top: 0%;
      }
    }
    .card-bg {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      overflow: hidden;
      z-index: -1;
      .bg-img {
        height: 100%;
        object-fit: cover;
        vertical-align: middle;
        width: 100%;
        filter: blur(3px);
        
      }
    }
}